/* Cascading: reads rulesets top to bottom; but a Class Selector would take
precedence over an element selector due to its specificity */

/* Inheritance: another elment inherits the settings or properties from its
parents element; i.e. body element is parent to every other element here; 
anything that involves font or typography is inherited */

/* !important overrides everything, don't use as beginner */

/* 4 Types of Selectors */

/* 1. Universal Selector: selects everything on the page, used for
css reset. This is not inheritance as it selects ALL elements */
/* * {
    font-family: monospace;
} */

/* 2. Element Selector: select all elements of that type, i.e.
p selector selects all paragraphs; can also use html selector */
body {
    font-size: 22px;
}

/* only one per page, only selects things inside the main element, so this
would not effect header */
main {
    font-family: monospace;
}

/* group selectors use a comma */
/* looks for h2's that are nested or exist inside of an h1 */
h1, h2 {
    color: blue;
}

p {
    color: purple;
}

/* looks for spans that are nested or exist inside paragraphs */
    /* p span {
        text-transform: uppercase;
        background-color: gold;
    } */
/* BUT, would be better to use a class to make it reusable */
.highlight {
    text-transform: uppercase;
    background-color: gold;
}

/* 3. Class Selector: starts with a period; you choose name of class;
overrules element css; most common */
.gray {
    color: gray;
}

/* 4. ID Selector: most specific; should only exist once in an HTML document,
should be unique; not used inside the css file; has uses for id attributes */
#second {
    font-style: italic;
}